/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/01/2017, 14:19:19
    Author     : fernando
*/

.ckbx-input .ui-chkbox .ui-widget{
    top: -9px;
    position: relative;
}

.ckbx-input .ui-outputlabel .ui-widget button{
    top: 5px;
}